@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap");

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Tells the browser to include any border and padding in the values you specify for an element's width and height */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Links will scroll smoothly to the target content, instead of instantly jumping to it */
  scrollbar-color: rgb(190, 107, 177) rgb(113, 56, 136); /* Set scrollbar color to match the theme of the website */
  color: #000;
}

@media screen and (min-width: 1000px) {
  .nav-wrapper li {
    font-size: 130% !important;
  }
}

hr {
  border: 3px solid #000;
}

body {
  background: #fff;
}

.nav-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.nav-wrapper li {
  padding: 3% 1.4%;
  font-size: 100%;
}
.nav-wrapper li a {
  color: #000;
  transition: color 0.4s linear;
}

.nav-text {
  text-align: center;
  position: relative;
  width: 25%;
}

.nav-wrapper li a:hover {
  color: #fff;
  transition: color 0.4s linear;
}

.surf-header {
  display: flex;
  justify-content: center;
  margin: 5%;
  max-width: 100%;
}

.surf-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 2%;
  flex-wrap: wrap;
  text-align: center;
}
.surf-wrapper h2 {
  text-decoration: underline;
  margin-bottom: 2%;
}

.surf-wrapper img {
  max-width: 100%;
  height: auto;
}

.map {
  flex: 1 1 500px; /* Distribute equally in a row, adjust as needed */
  padding: 20px;
  margin: 1%;
}

.map:nth-child(odd) {
  background: #a18cd1;
}
.map:nth-child(even) {
  background: #fbc2eb;
}

.showcase {
  color: darkblue;
}

.gamebanana {
  color: darkgreen;
}
